extends ../blocks/main

block head
    title Школа рока "School of Rock" | Уроки гитары для начинающих и продвинутых, а так же барабаны, бас, рок-вокал и дружеская, творческая атмосфера
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='музыкальная школа в Москве, школа рока, "School of Rock",' +
                                  'уроки гитары для начинающих и продвинутых, барабаны, бас, вокал, организация групп, студийная запись' +
                                  'организация концертов, создание групп')

block body
    div.about-page

        div.school-description

            div.title О школе рока

            div.description
                div.thesis Школа, которую не хочется прогуливать

                div.quote-wrapper
                    div.quote
                        p Не важен возраст и пол.
                        p Будь самим собой, будь проще.
                        p Свобода и рок-н-ролл – то, что нужно нам.

                div.detail-description
                    p
                        span.make-louder "Сделай громче!"
                        , &mdash; поется в одной из песен, которая выражает дух нашей школы.
                        И мы уверенны, что рок &mdash; это больше, чем музыка.
                        Рок-культура обладает даром объединять самых разных людей: подростков и взрослых, парней и девушек, реалистов и мечтателей…
                        Ведь главный принцип рока – это свобода: свобода творчества, импровизации, выбора.
                        Рок-культура всегда современна &mdash; существует сотни стилей рока, где каждый найдет что-то свое.
                        Кому-то ближе эксперименты арт-рока, а другому &mdash; «грязные» риффы панка или гранджа.
                        Один только тяжелый металл имеет несколько десятков направлений: от трэша и грува до дэта и блэка.
                        Вам кажется все это слишком сложным? Значит, Вы просто еще не были в нашей «Школе Рока»!

                    p
                        Наша миссия &mdash; помочь всем желающим (и детям, и взрослым) играть рок-музыку на сцене и в жизни.
                        Вы верим, что Ваше желание и талант наших учителей способны совершить маленькое чудо: человек превратится в творца!

                    p Приходите к нам &mdash; и Вы научитесь:

                    ul
                        li
                            петь и играть, ведь основные направления обучения в нашей школе &mdash; это классы&#32;
                            a электрогитары
                            ,&#32;
                            a бас-гитары
                            ,&#32;
                            a ударных
                            ,&#32;
                            a вокала.
                        li создавать группы и работать в них, изучите искусство общения, научитесь принимать решения как в одиночку, так и сообща, обосновывать свою точку зрения и находить конструктивные компромиссы. Ведь именно из-за неумения слышать друг друга распадались рок-группы с мировыми именами.
                        li писать собственные песни: музыку и тексты. А также делать красивые аранжировки, экспериментировать со стилями и звуком, создавать оригинальную и запоминающуюся лирику.
                        li организовывать концерты, ведь основы менеджмента необходимы для успешного начала музыкальной карьеры. Быть самому себе продюсером, промоутером и директором &mdash; требование времени.

        div.commercial

            div.repetirui
                div.repetirui-title
                    div.repetirui-icon
                    a(href='http://www.xn--80aabpm9bf.xn--p1acf/')  репбаза.рус

                div.repetirui-description А ещё на базе нашей школы есть репетиционная база

            div.try-it

                div.try-it-title
                    div.try-it-icon
                    span Попробуйте

                div.try-it-buttons
                    a(class='btn free-lesson' href='#') Бесплатный урок
                    a(class='btn phone-me' href='#') Позвоните мне!