extends ../blocks/main

block body

   div.price
      h1 Стоимость обучения

      div.price-lessons
         ul
            li
               div.description Групповые занятия (3-4 человека в группе)
               div.value 5300 руб в месяц (1 занятие в неделю). Длительность занятий 2 часа.

            li
               div.description Индивидуальные занятия
               div.value
                  div 6500  руб в месяц (1 занятие в неделю). Длительность занятий 1 час.
                  div 2 раза в неделю - скидка 20% 10 500 руб вместо 13 000 руб
                  div 3 раза в неделю - скидка 25% (14 700 руб вместо 19 500 руб)

         div.price-lessons-description
            p В стоимость месячного абонемента входит 4-5 занятий, количество занятий зависит от количества недель в месяце.
            p Групповые занятия проводится только по классу Акустической гитары и Электрогитары.
            p Для всех учеников школы уроки теории музыки БЕСПЛАТНО!

      div.price-lessons-results
         div
            div.price-lessons-results-title Вы получаете:
            ul
               li профессионального преподавателя
               li уникальную программу обучения
               li уроки по теории (первое полугодие обучения)
               li ансамбль (второе полугодие обучения)

         div
            div.price-lessons-results-title После 7-8 месяцев обучения вы будете:
            ul
               li играть в музыкальной рок-группе
               li выступать на отчетных концертах школы
               li выступать от лица школы на музыкальных фестивалях