extends ../blocks/main

block body

    div.price
        h1 Стоимость обучения

        div.price-default-types
            div.price-default-type
                div.pdf-title Групповые занятия
                    div.pdf-title-price 5300р в месяц
                div.pdf-description
                    ul
                        li 3-4 человека в группе
                        li 1 занятие в неделю
                        li Длительность занятия - 2 часа
                        li Только для классов акустической гитары и электрогитары
            div.price-default-type
                div.pdf-title Индивидуальные занятия
                    div.pdf-title-price 6500р в месяц
                div.pdf-description
                    ul
                        li 1 занятие в неделю
                        li Длительность занятия - 1 час
            div.price-default-type
                div.pdf-title Экспресс-курсы
                    div.pdf-title-price 15000р за 2 месяца
                div.pdf-description
                    ul
                        li Курс длится 8 занятий
                        li 1 индивидуальное занятие в неделю
                        li Длительность занятия - 1 час
                        li
                            a(href='https://vk.com/topic-27376800_34888351' target='_blank') Программа обучения

        div.price-default-info В стоимость месячного абонемента входит 4-5 занятий, количество занятий зависит от количества недель в месяце. Для всех учеников школы уроки теории музыки БЕСПЛАТНО!

        div.price-lessons-results
            div
                div.price-lessons-results-title Вы получаете:
                ul
                    li профессионального преподавателя
                    li уникальную программу обучения
                    li уроки по теории (первое полугодие обучения)
                    li ансамбль (второе полугодие обучения)
            div
                div.price-lessons-results-title После 7-8 месяцев обучения вы будете:
                ul
                    li играть в музыкальной рок-группе
                    li выступать на отчетных концертах школы
                    li выступать от лица школы на музыкальных фестивалях