extends ../blocks/main

block head
    title Школа рока "School Of Rock" | Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара в Москве
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='музыкальная школа в Москве, школа рока, "School of Rock", уроки гитары для начинающих и продвинутых, барабаны, бас, вокал, организация групп, студийная запись')


block body
    div.main-info

        div.main-brand-info
            div.name-en School of rock
            div.name-ru Школа рока
            div.description.markdown
                div Почему Школа рока?
                ul
                    li Мы предлагаем не просто обучение игры на инструменте, а именно овладение им на профессиональном уровне
                    li Только мы научим и покажем, как правильно находиться музыканту на сцене; Что делать на саундчеке и как правильно изъясняться;
                    li У нас Вы научитесь правильно и с толком репетировать с группой;
                    li Гарантированные отчетные концерты учеников 2 раза в год, а также участие в фестивалях и городских мероприятиях;
                    li У нас работают люди, преданные своему делу, высококвалифицированные и дипломированные специалисты с высшим музыкальным образованием;
            div.read-more
                a(href=router.url('about')) Узнать больше
            div.promo-toolbar
                a(class='btn free-lesson' href='#') Бесплатный урок
                a(class='btn phone-me' href='#') Позвоните мне!
        div.commercial
            div.logo
                a(href='http://xn--e1aaje1aeeol.xn--p1ai/')  Репетируй.РФ

            div.description А ещё на базе нашей школы есть репетиционная база