extends ../blocks/main

block body
    div.main-info

        div.main-brand-info
            div.name-en School of rock
            div.name-ru Школа рока
            div.description Для Вас мы запустили очень удобный сервис - теперь весь выбор колесного крепежа, а также проставок и переходников в наличии Вы можете наблюдать в нашем мини-магазине. Для Вас мы запустили очень удобный сервис - теперь весь выбор колесного крепежа, а также проставок и переходников в наличии Вы можете наблюдать в нашем мини-магазине.
            div.read-more
                a(href='#') Узнать больше
            div.promo-toolbar
                a(class='btn free-lesson' href='#') Бесплатный урок
                a(class='btn phone-me' href='#') Позвоните мне!
        div.commercial
            div.logo
                a(href='http://xn--e1aaje1aeeol.xn--p1ai/')  Репетируй.РФ

            div.description А ещё на базе нашей школы есть репетиционная база