extends ../blocks/main

block head
    title музыкальная школа "School of Rock",Уроки гитары, бас-гитары, вокала, барабанов, клавишных
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='музыкальная школа для взрослых,школа рока,уроки барабанов,уроки гитары,уроки вокала,уроки на бас гитаре,уроки на синтезаторе,обучение на барабанах,обучение на гитаре,обучение вокалу,обучение на бас гитаре,обучение на синтезаторе')


block body
    div.main-info

        div.main-brand-info
            div.name-en School of rock
            div.name-ru Школа рока
            div.description.markdown
                div Почему Школа рока?
                ul
                    li Мы предлагаем не просто обучение игре на гитаре, бас-гитаре, вокалу, барабанах, клавишных инструментах,а именно овладение ими на профессиональном уровне
                    li Только мы научим и покажем, как правильно находиться музыканту на сцене; Что делать на саундчеке и как правильно изъясняться;
                    li У нас Вы научитесь правильно и с толком репетировать с группой;
                    li Наша программа обучения уникальная в своем роде, так как складывалась годами, исходя из огромного опыта наших преподавателей, что дает нам возможность отсекать весь лишний и ненужный материал и давать именно то, что конкретно пригодится Вам;
                    li Гарантированные отчетные концерты учеников 2 раза в год, а также участие в фестивалях и городских мероприятиях;
                    li У нас работают люди, преданные своему делу, высококвалифицированные и дипломированные специалисты с высшим музыкальным образованием;
                div
                    Очень часто нам задают один и тот же вопрос - как Вы относитесь к конкуренции?
                    Любая здоровая конкуренция только подталкивает на рождение новых идей, которые дают нам возможность удерживать лидерские позиции в сфере обучения, мы всегда идем вперед, постоянно практикуясь и набираясь опыта
                div
                    Если учиться - то только в Школе рока!
                    У нас есть конкретные цели и задачи, и мы знаем, что делаем
            div.read-more
                a(href=router.url('about')) Узнать больше
            div.promo-toolbar
                a(class='btn free-lesson' href='#') Бесплатный урок
                a(class='btn phone-me' href='#') Позвоните мне!
        div.commercial
            div.logo
                a(href='http://www.xn--80aabpm9bf.xn--p1acf/')  репбаза.рус

            div.description А ещё на базе нашей школы есть репетиционная база

            div.performance-banner