extends ../blocks/main

block body
    div.teachers-list-page
        h1 Преподаватели «Школы рока»

        if teachers.length
            div.teachers-list.owl-carousel.owl-theme
                each teacher in teachers
                    a(href=router.url('teacher', teacher.slug))
                        div.teacher
                            div.description
                                div.name
                                    =teacher.name

                                    span.instrument
                                        each instrument in teacher.formattedInstruments
                                            =instrument.title

                            div.photo
                                img.colored(src=teacher.profile_photo_src_hover)
                                img.bw(src=teacher.profile_photo_src)