extends ../blocks/main

block body
    h1 Список преподавателей
    if teachers.length
        each teacher in teachers
            h2
                a(href=router.url('teacher', teacher.slug))= teacher.name