extends ../blocks/main

block head
    title Школа рока "School Of Rock" | Преподаватели по электрогитаре, барабанам, рок-вокалу, бас гитаре, клавишным (синтезатор), акустической гитаре
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='музыкальная школа в Москве, школа рока, "School of Rock",' +
                                  'преподаватели музыки, преподаватели гитары, преподаватели барабан, преподаватели бас-гитары, преподаватели вокала, преподаватели клавишных')

block body
    div.teachers-list-page
        h1 Преподаватели «Школы рока»

        if teachers.length
            div.teachers-list.owl-carousel.owl-theme
                each teacher in teachers
                    a(href=router.url('teacher', teacher.slug))
                        div.teacher
                            div.description
                                div.name
                                    =teacher.name

                                    span.instrument
                                        each instrument in teacher.formattedInstruments
                                            =instrument.title

                            div.photo
                                img.colored(src=teacher.profile_photo_src_hover)
                                img.bw(src=teacher.profile_photo_src)