extends ../blocks/main

block head
    title Школа рока "School Of Rock" | Преподаватель музыки #{teacher.name}
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')

block body
    div.teacher-detail-page
        div.main
            if teacherInstruments.length
                each teacherInstrument in teacherInstruments
                    h1
                        a(href=router.url('instrument', teacherInstrument.slug))= teacherInstrument.title

            div.markdown
                div.specification !{teacher.description}

        div.additional
            if otherInstruments && otherInstruments.length
                ul.instruments
                    each otherInstrument in otherInstruments
                        li
                            a(href=router.url('instrument', otherInstrument.slug))= otherInstrument.title
            div.try-it
                div.try-it-title
                    div.try-it-icon
                    span Попробуйте
                div.try-it-buttons
                    a(class='btn free-lesson' href='#') Бесплатный урок
                    a(class='btn phone-me' href='#') Позвоните мне!
