extends ../blocks/main

block body
    div.teacher-detail-page
        div.main
            if teacherInstruments.length
                each teacherInstrument in teacherInstruments
                    h1= teacherInstrument.title

            div.name= teacher.name
            div.description
                div.specification !{teacher.description}

        div.additional
            if otherInstruments && otherInstruments.length
                ul.instruments
                    each otherInstrument in otherInstruments
                        li
                            a(href=router.url('instrument', otherInstrument.slug))= otherInstrument.title
            div.try-it
                div.try-it-title
                    div.try-it-icon
                    span Попробуйте
                div.try-it-buttons
                    a(class='btn free-lesson' href='#') Бесплатный урок
                    a(class='btn phone-me' href='#') Позвоните мне!
