extends ../blocks/main

block body
    h1
        a(href=router.url('teachers')) Список преподавателей

    div.teacher.container

        div.name= teacher.name

        div.description
            div.title Описание преподавателя
            div.specification !{teacher.description}

        div.instruments
            div.title Преподаваемые отделения

            if instruments.length
                ul.instruments
                    each instrument in instruments
                        li
                            a(href=router.url('instrument', instrument.slug))= instrument.title