body
  height 100vh
  margin 0
  padding 0
  font-family 'LatoWeb'
  background: black url(/home-background.jpg) no-repeat center center
  background-size cover

//  Информация для главной
.main-info
  display flex
  width 1100px
  margin 180px auto auto auto
  color white

  .main-brand-info
    flex 0 0 600px

    .name-en
      font-family 'LatoWebBlack'
      font-size 85px

    .name-ru
      font-family 'LatoWebThin'
      margin-top -10px
      font-size 72px
      font-weight 100

    .description
      font-family 'LatoWebThin'
      margin-top 20px
      font-size 20px
      line-height 24px


    .read-more
      margin-top 25px

      a
        font-size 19px
        color #a89891

    .promo-toolbar
      margin-top: 35px;

      .btn
        margin-right 20px

  .commercial
    flex 0 0 550px
    padding-left 180px
    margin-top 42px
    box-sizing border-box

    .logo
      font-size 32px

      a
        color white
        text-transform uppercase
        text-decoration none

        &:hover
          color #FFFEC9

    .description
      font-size 18px
      margin-top 15px