@font-face
  font-family 'LatoWeb'
  font-style normal
  font-weight normal
  src url('/Lato/fonts/Lato-Regular.woff2')
  src url('/Lato/fonts/Lato-Regular.woff')
  src url('/Lato/fonts/Lato-Regular.ttf')
  text-rendering optimizeLegibility

@font-face
  font-family 'LatoWebThin'
  font-style normal
  font-weight normal
  src url('/Lato/fonts/Lato-Thin.woff2')
  src url('/Lato/fonts/Lato-Thin.woff')
  src url('/Lato/fonts/Lato-Thin.ttf')
  text-rendering optimizeLegibility

@font-face
  font-family 'LatoWebBlack'
  font-style normal
  font-weight normal
  src url('/Lato/fonts/Lato-Black.woff2')
  src url('/Lato/fonts/Lato-Black.woff')
  src url('/Lato/fonts/Lato-Black.ttf')
  text-rendering optimizeLegibility

@font-face
  font-family 'LatoWeb'
  font-style italic
  font-weight normal
  src url('/Lato/fonts/Lato-Italic.woff2')
  src url('/Lato/fonts/Lato-Italic.woff')
  src url('/Lato/fonts/Lato-Italic.ttf')
  text-rendering optimizeLegibility