//  Главное меню
.site-toolbar
  display flex
  height 110px
  align-items center

  .logo
    flex 0 0 170px
    height 45px

    .logo-img
      display block
      margin-left 40px
      width 95px
      height 100%
      background url(/logo.png) 100% 100% no-repeat

  .main-menu-wrapper
    width 100%
    font-size 14pt

    .main-menu
      display flex
      min-width 600px
      justify-content center
      padding 0
      text-transform uppercase
      font-size 14px
      font-family 'LatoWebBlack'

      .main-menu-section
        list-style none
        padding 0 10px

        a
          color white
          text-decoration none

          &:hover
            color #FFFEC9

  .contacts
    display flex
    align-items center
    flex 0 0 240px
    height 45px

    .phone
      display block
      color white
      text-decoration none

    .map-label
      display block
      background url('/map-label.png') no-repeat 12px 10px
      background-color white
      height 40px
      width 40px
      border-radius 50%
      opacity 0.15
      margin-left 20px

      &:hover
        opacity 1
