extends ../blocks/main

block head
    title Школа рока "School Of Rock" | Видеозаписи отчетных концертов, выступлений
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='музыкальная школа в Москве, школа рока, "School of Rock" уроки гитары для начинающих и продвинутых, барабаны, бас, вокал' +
                                  'контактная информация, схема проезда, телефон')

block body
    div.videos-page
        h1 Записи выступлений

        div.videos-list
            div.video-item
                div.video-content
                    iframe(width="530" height="315" src="https://www.youtube.com/embed/oC9886_48rw" frameborder="0" allowfullscreen)

            div.video-item
                div.video-content
                    iframe(width="530" height="315" src="https://www.youtube.com/embed/JeqhdZOjRqw" frameborder="0" allowfullscreen)

            div.video-item
                div.video-content
                    iframe(width="530" height="315" src="https://www.youtube.com/embed/L5gV88qlt4A" frameborder="0" allowfullscreen)

            div.video-item
                div.video-content
                    iframe(width="530" height="315" src="https://www.youtube.com/embed/-W1pvjtLD-E" frameborder="0" allowfullscreen)

            div.video-item
                div.video-content
                    iframe(width="530" height="315" src="https://www.youtube.com/embed/c-O-5c7bYT8" frameborder="0" allowfullscreen)

            div.video-item
                div.video-content
                    iframe(width="530" height="315" src="https://www.youtube.com/embed/fal3CW0C70I" frameborder="0" allowfullscreen)

            div.video-item
                div.video-content
                    iframe(width="530" height="315" src="https://www.youtube.com/embed/zGwTWjn4Ygo" frameborder="0" allowfullscreen)

            div.video-item
                div.video-content
                    iframe(width="530" height="315" src="https://www.youtube.com/embed/piisRcF-jLI" frameborder="0" allowfullscreen)

