doctype html
html(lang="en")
    head
    body
        h1 Инструменты

        if instruments && instruments.length
            each instrument in instruments
                h2
                    a(href=router.url('instrument', instrument.slug))= instrument.title

                each teacher in instrument.formattedTeachers
                    a(href=router.url('teacher', teacher.slug))= teacher.name
