doctype html
html(lang="en")
    head
    body
        h1 Инструменты
        if instruments.length
            each instrument in instruments
                h2= instrument.title

                each teacher in instrument.formattedTeachers
                    h3= teacher.name
