extends ../blocks/main

block head
    title Школа рока "School of Rock" | Программы обучения, курсы: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='школа барабанов,школа гитары, школа вокала,школа бас гитары, школа синтезатор')

block body
    div.instruments-list-page

        h1.title Направления «Школы рока»

        div.instruments-list
            if instruments && instruments.length
                each instrument in instruments
                    div.instrument
                        div.instrument-description
                            h2.instrument-name
                                a(href=router.url('instrument', instrument.slug))= instrument.title
                            div.instrument-specification
                                =instrument.description
                        div.teacher
                            each teacher in instrument.formattedTeachers
                                div.teacher-photo
                                    img(src=teacher.photo_src class='colored')
                                div.teacher-name
                                    div.teacher-title Преподаватель курса
                                    a(href=router.url('teacher', teacher.slug) class='teacher-fullname')= teacher.name
