extends ../blocks/main

block body
    h1= instrument.title

    div
        a(href=router.url('instruments')) Список инструментов

    if instruments && instruments.length
        ul
            each instrument in instruments
                li
                    a(href=router.url('instrument', instrument.slug))= instrument.title