extends ../blocks/main

block body

   div.price
      h1 Скидки на обучение

      div.price-types
         div
            div.price-types-title Груповые занятия

            ul
               li
                  div.description 3 месяца - скидка 10%
                  div.value 14 300 руб вместо 15 900 руб
               li
                  div.description 6 месяцев - скидка 15%
                  div.value 27 000 руб вместо 31 800 руб
               li
                  div.description 12 месяцев - скидка 20%
                  div.value 50 800 руб вместо 63 600 руб

         div
            div.price-types-title Индивидуальные занятия

            ul
               li
                  div.description 3 месяца - скидка 10%
                  div.value 17 500 руб вместо 19 500 руб
               li
                  div.description 6 месяцев - скидка 15%
                  div.value 33 200 руб вместо 39 000 руб
               li
                  div.description 12 месяцев - скидка 20%
                  div.value 62 400 руб вместо 78 000 руб

      div.price-sales-title При совмещении курсов

      table.price-sales
         tr
            td 2 курса - cкидка 12%
            td 9 300 руб вместо 10 600 руб
            td 11 500 руб вместо 13 000 руб

         tr
            td 3 курса - cкидка 15%
            td 13 500 руб вместо 15 900 руб
            td 16 600 руб вместо 19 500 руб

         tr
            td 4 курса - cкидка 17%
            td 17 600 руб вместо 21 200 руб
            td 21 600 руб вместо 26 000 руб