extends ../blocks/main

block head
    title Музыкальная школа "School of Rock",Уроки гитары, бас-гитары, вокала, барабанов, клавишных
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='музыкальная школа для взрослых,школа рока,уроки барабанов,уроки гитары,уроки вокала,уроки на бас гитаре,уроки на синтезаторе,обучение на барабанах,обучение на гитаре,обучение вокалу,обучение на бас гитаре,обучение на синтезаторе')

block body

   div.price
      h1 Скидки на обучение

      div.price-types
         div
            div.price-types-title Груповые занятия

            ul
               li
                  div.description 3 месяца - скидка 10%
                  div.value 14300 руб &nbsp;
                     strike 15900 руб
               li
                  div.description 6 месяцев - скидка 15%
                  div.value 27000 руб &nbsp;
                     strike 31800 руб
               li
                  div.description 12 месяцев - скидка 20%
                  div.value 50800 руб &nbsp;
                     strike 63600 руб

         div
            div.price-types-title Индивидуальные занятия

            ul
               li
                  div.description 1 месяц, 2 раза в неделю - скидка 20%
                  div.value 10500 руб &nbsp;
                     strike 13000 руб
               li
                  div.description 1 месяц, 3 раза в неделю - скидка 25%
                  div.value 14700 руб &nbsp;
                     strike 19500 руб
               li
                  div.description 3 месяца - скидка 10%
                  div.value 17500 руб &nbsp;
                     strike 19500 руб
               li
                  div.description 6 месяцев - скидка 15%
                  div.value 33200 руб &nbsp;
                     strike 39000 руб
               li
                  div.description 12 месяцев - скидка 20%
                  div.value 62400 руб &nbsp;
                     strike 78000 руб

      div.price-sales-title При совмещении курсов

      table.price-sales
         tr
            td 2 курса - cкидка 12%
            td.value 11500 руб &nbsp;
               strike 13000 руб

         tr
            td 3 курса - cкидка 15%
            td.value 16600 руб &nbsp;
               strike 19500 руб

         tr
            td 4 курса - cкидка 17%
            td.value 21600 руб &nbsp;
               strike 26000 руб
