doctype html
html(lang='ru')
    block html
        head
        block head
    body
        include ../blocks/sitetoolbar
        block body

        script(src='/jquery.js')

        script(src='/owl.carousel.js')
        link(href='/owl.carousel.css', rel='stylesheet')

        script(src='/base.entry.js')
