div.site-toolbar
    // Логотип
    div.logo
        a(href='/' class='logo-img')

        div.social-icons
            a(href='https://vk.com/school_of_rock_msk' target='_blank')
                div.social-icon-vk
            a(href='https://www.instagram.com/schoolofrock_msk/' target='_blank')
                div.social-icon-inst
            a(href='https://www.youtube.com/channel/UC9uEpXPSL2s5H_5wVxSjavg' target='_blank')
                div.social-icon-youtube

    // Главное меню
    - var siteToolbarSections = []
    - siteToolbarSections.push({ url: '/about', title: 'О школе' });
    - siteToolbarSections.push({ url: '/uroki', title: 'Направления' });
    - siteToolbarSections.push({ url: '/teachers', title: 'Преподаватели' });
    - siteToolbarSections.push({ url: '/videos', title: 'Видео' });
    - siteToolbarSections.push({ url: '/contacts', title: 'Контакты' });
    - siteToolbarSections.push({ url: '/prices', title: 'Цены' });
    - siteToolbarSections.push({ url: '/sales', title: 'Скидки' });
    - siteToolbarSections.push({ url: '/poleznoe', title: 'Полезное' });

    div.main-menu-wrapper
        ul.main-menu
            each section in siteToolbarSections
                li.main-menu-section
                    a(href=section.url)= section.title

    // Контакты
    div.contacts
        div.address
            div.city Москва
            a(href='tel:+74951622804' class='phone') +7 (495) 162-28-04
        a(href='/contacts' class='map-label')

div.info-over
    div Основана в 2011 году
    div Нас выбирают более <br> 1500 учеников в год
    div Нам доверяют <br> как профессионалам
    div 90% учеников <br> играют в группах <br> при нашей школе