div.site-toolbar

    // Логотип
    div.logo
        a(href='/' class='logo-img')

    // Главное меню
    - var siteToolbarSections = []
    - siteToolbarSections.push({ url: '/about', title: 'О школе' });
    - siteToolbarSections.push({ url: '/instruments', title: 'Направления' });
    - siteToolbarSections.push({ url: '/teachers', title: 'Преподаватели' });
    - siteToolbarSections.push({ url: '/feedback', title: 'Отзывы' });
    - siteToolbarSections.push({ url: '/contacts', title: 'Контакты' });

    div.main-menu-wrapper
        ul.main-menu
            each section in siteToolbarSections
                li.main-menu-section
                    a(href=section.url)= section.title

    // Контакты
    div.contacts
        a(href='tel:+74951622804' class='phone') +7 (495) 162-28-04
        a(href='/map' class='map-label')