body
  height 100vh
  margin 0
  padding 0
  font-family 'LatoWeb'
  background: black url(/home-background.jpg) no-repeat center center
  background-size cover

a
  color white

h1
  font-family 'LatoWebBlack'
  font-size 50px
