extends ../blocks/main

block head
    title Школа рока "School of Rock" | Уроки гитары для начинающих и продвинутых, а так же барабаны, бас, рок-вокал и дружеская, творческая атмосфера
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='музыкальная школа в Москве, школа рока, "School of Rock",' +
                                  'уроки гитары для начинающих и продвинутых, барабаны, бас, вокал, организация групп, студийная запись' +
                                  'организация концертов, создание групп')

block body
    div.articles-page
        h1.ap--title Полезное

        div.ap--list
            each article in articles
                div.article
                    div.article--title
                        a(href=router.url('article', article.slug))= article.name
                    div.article--description
                        = article.previewDescription
                        &nbsp;
                        a(href=router.url('article', article.slug))Читать далее

