.articles-page
  color white
  margin 80px auto
  width 1110px

  .ap--title
    margin-bottom 50px

  .ap--list

    .article
        margin-bottom 30px

        .article--title
            font-size 26px
            margin-bottom 20px

        .article--description
            font-size 18px
            line-height 1.5em