//  Информация для главной
.main-info
  display flex
  width 1100px
  margin 5px auto 100px auto
  color white

  .main-brand-info
    flex 0 0 600px

    .name-en
      font-family 'LatoWebBlack'
      font-size 85px

    .name-ru
      font-family 'LatoWebThin'
      margin-top -10px
      font-size 72px
      font-weight 100

    .description
      font-family 'LatoWebThin'
      margin-top 20px
      font-size 20px
      line-height 22px

    .read-more
      margin-top 25px

      a
        font-size 19px
        color #a89891

    .promo-toolbar
      margin-top: 35px;

      .btn
        margin-right 20px

  .commercial
    width 300px
    margin-left 80px

    .video 
      margin-top: 20px;

    .repetirui
      margin-top 15px

      .repetirui-title
        display flex
        align-items flex-end

        .repetirui-icon
          background url('/repetirui.png') no-repeat center center
          width 50px
          height 50px
          margin-right 10px

        a
          font-size 26px
          font-family 'LatoWebBlack'
          text-transform uppercase
          color white

      .repetirui-description
        margin-top 20px
        line-height 24px

    .try-it
      margin-top 30px

      .try-it-title
        display flex
        align-items center
        font-size 26px
        font-family 'LatoWebBlack'

        .try-it-icon
          background url('/try-it.png') no-repeat center center
          width 31px
          height 31px
          margin-right 10px

      .try-it-buttons
        margin-top 20px

        .btn
          margin-bottom 15px