.instruments-list-page
  width 1110px
  margin auto
  color #EEEEEE
  margin-top 80px
  margin-bottom 80px

  a
    color white

  .title
    font-family 'LatoWebBlack'
    font-size 60px

  .instruments-list
    margin-top 45px
    font-family 'LatoWebThin'

    .instrument
      display flex
      padding 40px
      background-color rgba(16, 70, 93, 0.4)

      .instrument-description
        flex 0 0 610px

        .instrument-name
          font-size 40px
          margin-bottom 15px

        .instrument-specification
          font-size 20px
          line-height 25px

      .teacher
        width 100%
        display flex
        align-items center
        margin-left 50px
        justify-content space-between

        .teacher-info
          flex 0 0 150px
          width 150px
          height 150px

        .teacher-photo
          margin-bottom 20px

          img
            margin-bottom 10px
            max-width 100%
            max-height 100%

            &.colored
              display block

        .teacher-name
          text-align center

          .teacher-title
            font-family 'LatoWeb'
            font-size 16px
            text-transform uppercase
            margin-bottom 10px

          .teacher-fullname
            font-size 22px

      &:nth-child(2n)
        background none

      &:hover
        .teacher
          .teacher-photo
            img
              &.colored
                display block