.price
  color white
  margin 80px auto
  width 1110px

  .price-default-types
    display flex
    justify-content space-between
    margin-top 50px

    .price-default-type
      flex 0 0 340px
      background-color white
      color black
      border-radius 5px
      overflow hidden

      .pdf-title
        font-size 24px
        margin-bottom 10px
        color white
        background-color #dc6a1e
        text-align center
        padding 20px 0

        .pdf-title-price
          margin-top 10px
          font-size 18px

      .pdf-description
        padding 10px 20px
        text-align center

        li
          margin-bottom 5px
          font-size 16px

  .price-default-info
    width 900px
    margin-top 30px
    line-height 30px
    font-size 20px

  .price-lessons-results
    margin 40px 0
    display flex

    ul
      li
        margin 10px 0

    > div
      width 50%

    .price-lessons-results-title
      font-size 26px
      color #fffec9
      margin-bottom 10px