.teacher-detail-page
  color white
  margin 80px auto
  width 1110px
  display flex
  justify-content space-between

  .main
    flex 0 0 640px

  .additional
    flex 0 0 380px

    .instruments
      margin-top 20px

      li
        margin 8px 0

    .try-it
      margin-top 30px

      .try-it-title
        display flex
        align-items center
        font-size 26px
        font-family 'LatoWebBlack'

        .try-it-icon
          background url('/try-it.png') no-repeat center center
          width 31px
          height 31px
          margin-right 10px

      .try-it-buttons
        margin-top 20px

        .btn
          margin-bottom 15px