extends ../blocks/main

block head
    title Школа рока "School Of Rock" | Контактная информация, схема проезда, телефон
    meta(name='description', content='Музыкальная школа "School Of Rock" в Москве.' +
                                     'Обучение по направлениям: электрогитара, барабаны, рок-вокал, бас гитара, клавишные (синтезатор), акустическая гитара.')
    meta(name='keywords', content='музыкальная школа в Москве, школа рока, "School of Rock" уроки гитары для начинающих и продвинутых, барабаны, бас, вокал' +
                                  'контактная информация, схема проезда, телефон')

block body
    div.contacts-page
        div.contacts
            h1  Музыкальная школа в Москве

            div.contacts-info
                div.contact-address
                    h2 Контактная информация

                    ul
                        li
                            div.description Адрес
                            div.value г.Москва, Волгоградский проспект, 42к7

                        li
                            div.description E-mail
                            div.value
                                a(href='mailto:schoolofrock.ru@yandex.ru') schoolofrock.ru@yandex.ru

                        li
                            div.description Телефон
                            div.value
                                a(href='tel:+74951622804' class='phone') +7 (495) 162-28-04

                div.contact-time
                    h2 Часы работы

                    ul
                        li
                            div.description Вторник - Четверг
                            div.value с 16-00 до 21-00
                        li
                            div.description Суббота - Воскресенье
                            div.value с 12-00 до 18-00
                        li
                            div.description Понедельник, Пятница
                            div.value Выходной

            div.how-to-get
                h2  Как к нам пройти:
                div Станция метро Текстильщики, последний вагон из центра, за турникетами направо в сторону Шоссейной улицы. После выхода из метро, идем прямо, через 100 метров переход под дорогой, проходим по нему, далее по аллее 150 метров, третье по счету слева 4-х этажное серое здание.
                    Заходим через главный вход, на посту охраны говорим, что в Школу Рока.
                    За постом охраны направо, к лестнице. Далее по указателям поднимаемся на 2 этаж, проходим по длинному коридору в конец здания и по лестнице поднимаемся на 4 этаж. Наш офис 405.
                    Если возникнут вопросы - звоните на (495) 162-28-04 - подскажем, встретим!

                h2 Как к нам проехать на авто
                div Со стороны МКАД:
                    По Волгоградскому проспекту, проезжаем метро Текстильщики, далее проежаем ЖД мост, за ним поворот направо под мост, за мостом второй поворот направо на светофоре. Перед зданием есть парковка.
                    Со стороны центра:
                    проезжаем третье транспортное кольцо, проезжаем многоэтажное стеклянное здание "куб" слева. Далее перед мостом берем правее на Шоссейную улицу, поворачиваем направо и на светофоре еще раз направо.Перед зданием есть парковка.

        div.map