extends ../blocks/main

block body
    div.contacts-page
        div.contacts
            h1  Музыкальная школа в Москве

            ul
                li
                    div.description Адрес
                    div.value г.Москва, Волгоградский проспект, 42к7

                li
                    div.description E-mail
                    div.value
                        a(href='mailto:info@shkola-roka.ru') info@shkola-roka.ru


                li
                    div.description Телефон
                    div.value
                        a(href='tel:+74951622804' class='phone') +7 (495) 162-28-04

            div.how-to-get
                h2  Как к нам пройти:
                Заходим через главный вход, на посту охраны говорим, что в Школу Рока.
                За постом охраны направо, к лестнице. Далее по указателям поднимаемся на 2 этаж, проходим по длинному коридору в конец здания и по лестнице поднимаемся на 4 этаж. Наш офис 405.

        div.map